<div class="answer">

{{#if isShowForm}}
    <br>
      <br>
    <label for="content">Answer :</label>
    {{input value=content  key-up="updateContent"}}
  <br>
    <br>
      <br>
    <label for="author">Author :</label>
    {{input value=author key-up="updateAuthor"}}
    <br>
      <br>
        <br>
<button type="button" {{action 'showForm'}}>finish</button>
{{else}}

<h3>{{answer.author}} said:</h3>
<p>{{answer.content}}</p>
<button type="button" {{action 'showForm'}}>edit</button>
{{/if}}





<button {{action 'destroyAnswer'}}>Delete</button>


</div>
