<div class="answer">

{{#if isShowForm}}
  <div class="answerEdit">
    <br>
      <br>
    <label for="content">Answer :</label><br>
    {{textarea placeholder="Remember, be nice!"  key-up="updateContent"}}
  <br>
    <br>
      <br>
    <label for="author">Author :</label>
    {{input value=author key-up="updateAuthor"}}
    <br>
      <br>
        <br>
<button type="button" {{action 'showForm'}}>finish</button>
</div>
{{else}}

<div class="singleAnswer">
  <span class="A">A:</span>

  <p>{{answer.content}}</p>
  <h5>signed: <span class="princeCharming">{{answer.author}}</span></h5>
</div>
  <button type="button" {{action 'showForm'}}>edit</button>
{{/if}}





<button {{action 'destroyAnswer'}}>Delete</button>


</div>
