{{#if isShowForm}}
  <div class="newQuestionDiv">
    <form class="newQuestionForm">

      <label for="content">???: </label><br>
      {{textarea placeholder="Remember, be nice!"  value=content }}
      <br>
      <label for="author">from: </label>
      {{input placeholder="a secret admirer" value=author}}

      <label for="notes">Notes: </label>
      {{input placeholder="i love you" value=notes}}
      <button type="button" {{action 'submitQuestion'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button type="button" {{action 'showForm'}}>new Question?</button>
{{/if}}
