{{#if isShowForm}}
  <form class="">
    <label for="author">Author: </label>
    {{input value=author}}
    <label for="content">Question: </label>
    {{input value=content}}
    <button type="button" {{action 'submitAnswer'}}>Submit</button>
  </form>
{{else}}
  <button type="button" {{action 'showForm'}}>Add Answer</button>
{{/if}}
