
{{#if isShowForm}}
  <form class="">
    <label for="content">what do you think: </label><br>
    {{textarea placeholder="Remember, be nice!" value=content}}<br>
    <label for="author">your name: </label>
    {{input value=author}}

    <button type="button" {{action 'submitAnswer'}}>Submit</button>
  </form>
{{else}}
  <button type="button" {{action 'showForm'}}>Add Answer</button>
{{/if}}
