

{{#if isShowForm}}
    <br>
  <div class="editQuestionDiv">
    <label for="content">Change your question :</label>
    <br>
    {{textarea placeholder="Remember, be nice!"  key-up="updateContent" value=content}}
    <br>
    <label for="author">or your name :</label>
    {{input placeholder="a secret admirer" value=author key-up="updateAuthor"}}
    <label for="notes">or notes: </label>
    {{input placeholder="i love you" value=notes key-up="updateNotes"}}
  </div>
  <button type="button" {{action 'showForm'}}>finish editing</button>
{{else}}
    <div class="questionDiv">
    <h4><span class="Q">Q:</span> {{make-dramatic question.content}}</h4>



    <p> PS: {{question.notes}}</p>

    <h5> Asks: <span class="princeCharming">{{make-dramatic question.author}}</span></h5>
  </div>
  <button type="button" {{action 'showForm'}}>edit</button>
{{/if}}




<button {{action 'destroyQuestion'}}>Delete</button>
